.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
datathon-survey.pdf
2022BCMDatathonSurve_DATA_2022-11-03_1247.csv
2022BCMDatathonSurve_DATA_LABELS_2022-11-03_1243.csv
sub-reports maybe do not use
*.png
*~
